{% extends 'adlamandnko_app/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body_class %}no-background{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
