/* static/adlamandnko_app/css/style.css */
#background {
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

#background.with-background .wrapper {
  display: flex;
  transition: all 1s ease-in-out;
}

#background.with-background:not(.no-background) .wrapper {
  background-image: url("{% static 'adlamandnko_app/images/adlam.jpg' %}");
  background-position: cover;
  width: 100vw;
  height: 600px;
}

.no-background #background {
  display: none;
}

.container {
  padding-top: 20px;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}



