{% extends 'adlamandnko_app/base.html' %}
{% load static %}
{% block title %}About Adlam{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>About Adlam</h2>
  <p>The Adlam script, also known as ADLaM, was created by Ibrahima and Abdoulaye Barry in the late 1980s. The name "Adlam" is an acronym derived from the first four letters of the alphabet: A, D, L, and M, which stands for "Alkule Dandayɗe Leñol Mulugol," meaning "the alphabet that protects the peoples from vanishing". It is used to write the Fulani language, also known as Pulaar or Pular. The script is written from right to left and has been widely adopted in West Africa.</p>

  <h3>Learn More</h3>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Adlam_script">Adlam Script on Wikipedia</a></li>
    <li><a href="https://www.omniglot.com/writing/adlam.htm">Adlam Alphabet on Omniglot</a></li>
    <li><a href="https://www.languagesandnumbers.com/articles/en/ADLaM/">Story of Adlam Script on Of Languages and Numbers</a></li>
  </ul>
</div>
{% endblock %}
