{% extends 'adlamandnko_app/base.html' %}
{% load static %}
{% block title %}About N'ko{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>About N'ko</h2>
  <p>The N'ko script was invented by Solomana Kanté in 1949 to write the Mandenkan languages, including Maninka, Bambara, and Dyula. The script is used primarily in Guinea, Guinea-Bissau, Mali, Ivory Coast, and Burkina Faso. N'ko is written from right to left and has a standardized grammar known as "kángbɛ," which means "language-manner". The script has been successful in preserving and promoting the written form of these languages.</p>

  <h3>Learn More</h3>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/N%27Ko_script">N'ko Script on Wikipedia</a></li>
    <li><a href="https://www.omniglot.com/writing/nko.htm">N'ko Alphabet on Omniglot</a></li>
    <li><a href="https://www.endangeredalphabets.net/alphabets/nko/">N'ko on Atlas of Endangered Alphabets</a></li>
  </ul>
</div>
{% endblock %}
